<div data-uri="{{ default _ref _self }}" data-editable="settings">
    <div>
        <ul>
            <li></li>
        </ul>
    </div>
    <div>
        <span>{{ datePublished }}</span>
    </div>
</div>