<header data-uri="{{ default _ref _self }}" class="{{componentVariation}} " data-editable="settings">
    <div class="vulture-section">
        <div class="vulture-section-title">
            <h2>The Cut</h2>
        </div>
        <div class="vulture-section-buttons">
            {{ #link }}
            <button>Style</button>
            <button>Self</button>
            <button>Culture</button>
            <button>Power</button>
            {{ /link }}
        </div>
    </div>
</header>