<div data-uri="{{ default _ref _self }}" class="articleTypeTag-div" data-editable="settings">
    <ul>
        {{#each keyTag as |tag|}}
        <li><a>{{tag.text}}</a></li>
        {{/each}}
    </ul>
    <span>{{ datePublished }}</span>
</div>