.advertisement_top {
  height: 25%;

  .advertisement-space {
    position: sticky;
    height: 12%;
    top: 0;
    text-aling: center;

    .sideImage {
      width: 350px;
      height: 350px;
    }
  }
}
