.advertisement-space {
  height: 25%;

  .advertisement {
    position: sticky;
    height: 12.5%;
    top: 1vh;
    text-aling: center;

    img {
      width: 200px;
      height: 200px;
    }
  }
}
