<div data-uri="{{ default _ref _self }}" class="best-the-cut" data-editable="settings">
    <section class="best-cut">
        <h1>best of the cut</h1>
        <ul>
            {{#each stories as |story|}}
            {{#if story}}<li><a href="{{ story.url }}"><span>{{ story.title }}</span></a></li>{{/if}}
            {{/each}}
        </ul>
    </section>
</div>