<div data-uri="{{ default _ref _self }}" class="advertisement-space" data-editable="settings">
    <section class="advertisement">
        <a class="adImage" href=" {{ imageUrl }} "><img src=" {{ imageSrc }} " data-src=" {{ imageSrc }} "></a>
    </section>
</div>